<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head}}
    </head>
    <body>
        <h1>About</h1>
        <p>Lorem Ipsum...</p>

        <button type="button" class="btn btn-primary" id="leagueBtn">Get Leagues</button>
        <button type="button" class="btn btn-primary" id="teamsBtn">Get Teams</button>

        <ul id="infoList">
        </ul>

        {{> footer}}
        {{> scripts}}
        <script src="./js/index.js"></script>
    </body>
</html>